#.gitignore
# Ignore all files in the root directory except the .gitignore file
# Virtual environments
**/.venv
**/.env
**/.env.*

# Python cache files
**/__pycache__
**/.mypy_cache
**/.pytest_cache

# IDE and editor files
**/.vscode
**/.idea

# Specific to src directory (if needed)
src/**/*.env
src/**/*.env.*

# Test directories
**/test/__pycache__
**/test/.mypy_cache
**/test/.pytest_cache
**/test/.vscode
**/test/.idea

# Root-level .vscode (if needed)
.vscode